
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

#main-nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #7ed56f;
}

.logo{
  width: 180px;
}

#main-nav .social i {
  //display: flex;
  color: #777;
  margin-right: .5rem;
  font-size: 3rem;
}

#main-nav a {
 text-decoration: none;
}

#main-nav ul{
  display: flex;
  justify-self: end;
  list-style-type: none;
  text-align: center;
  align-items: center;
  color: #fff;
}

#main-nav li{
  font-size: 1.5rem;
}

#main-nav ul li a {
  padding: 1rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}
